.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-text-grey);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.logoLink {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  color: var(--color-black);
  padding: 10px 0;
}

.logoSpan {
  color: var(--color-blue)
}

.desktopRight {
  display: none;
}

.nav {
  display: none;
}

.navLink {
  text-decoration: none;
  color: var(--color-black);
  line-height: 1.2;
  padding: 15px 0;
}

.navPlaceholder {
  visibility: hidden;
  pointer-events: none;
}

.hamburgerWrapper {
  display: block;
  z-index: 1001;
}

.authButtons {
  display: none;
}

.authButtonsPlaceholder {
  width: 272px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(25, 26, 21, 0.06),
    rgba(25, 26, 21, 0.14),
    rgba(25, 26, 21, 0.06)
  );
}

.userName {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.authButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 14px 40px;
  color: var(--color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 30px;
}

.logInBtn{
  border: 1px solid rgba(25, 26, 21, 0.2);
}

.registerInBtn{
  color: var(--color-white);
  background-color: var(--color-blue);
}

@media screen and (min-width: 768px) {
  .desktopRight {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .authButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    min-width: 272px;
  }

  .hamburgerWrapper {
    display: none;
  }
}