.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--color-black);
  margin: 0 0 20px 0;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 40px;
}

.doctorWrapper {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  margin-bottom: 40px;
}

.avatar {
  border-radius: 15px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.profession {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--color-text-grey);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.phoneTimeGroup {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.phoneTimeGroup .inputGroup {
  flex: 1;
  min-width: 0;
}

.inputField {
  width: 100%;
  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  font-family: inherit;
  color: #191a15;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

input.inputField {
  height: 52px;
}

.inputField:focus {
  border-color: var(--color-blue);
}

textarea.inputField {
  resize: none;
}

.errorText {
  color: #da4444;
  font-size: 12px;
  font-weight: 500;
  margin-left: 4px;
}

.submitButton {
  width: 100%;
  padding: 16px;
  border-radius: 30px;
  border: none;
  background-color: var(--color-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--color-white);
  cursor: pointer;
  margin-top: 22px;
  transition: background-color 0.2s ease;
}